<table class="table table-hover">
	<thead>
		<tr role="row">
			<th>Column Title</th>
			<th>Column Title</th>
			<th>Column Title</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd" id="trReview_145d5ad0-00a1-4cea-aeb6-c3da57cd7445" role="row">
			<td><sample>GATT Caching Improvements [08]</sample></td>
			<td><sample>Core</sample></td>
			<td><sample>FIPD</sample></td>
		</tr>
		<tr class="taskTable">
			<td class="taskTable" colspan="3">
				<table class="nestedTaskTable dataTable no-footer" role="grid">
					<thead>
						<tr role="row">
							<th>Nested Title</th>
							<th>Nested Title</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd" role="row">
							<td><sample>Peter Hecke (Bluetooth SIG, Inc.)</sample></td>
							<td><sample>Not Started</sample></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<sample>
		<tr class="even" role="row">
			<td>
				<a>Beacons for Mesh Channel Indication [01]</a>
			</td>
			<td>Core</td>
			<td>FRD</td>
		</tr>
		<tr class="odd" id="trReview_4d428ea2-ca1d-470c-b948-8bd49dcd46fa" role="row">
			<td>
				<a>Enhancement of Message Forward Feature [01]</a>
			</td>
			<td>NWP</td>
			<td>NWP</td>
		</tr>
		</sample>
	</tbody>
</table>
<sample>
<!-- temporary styles until official ones are determined 9/21/17 -->
<style type="text/css">
.table .odd {
	background-color: #f5f5f5;
}
.taskTable {
	border-bottom: 2px solid #ccc;
}
.taskTable:hover {
	background-color: initial !important;
}
.taskTable td {
	border-top: none;
}
.nestedTaskTable.dataTable {
	width: 100%;
	font-size: 12px;
}
.nestedTaskTable.dataTable tr {
	background-color: transparent !important;
}
.nestedTaskTable.dataTable th {
	border-top: none;
}
</style>
</sample>