<div class="modal-dialog" role="document">
  <div class="modal-content">
    <header class="modal-header">
      <h5 class="modal-title">Modal title</h5>
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </header>
    <div class="modal-body">
      {{> typography.paragraph}}
    </div>
    <footer class="modal-footer">
      <button class="btn btn-primary">Primary Button</button>
      <button class="btn btn-secondary">Secondary Button</button>
    </footer>
  </div>
</div>

<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// using "alternative" document.ready listener to compensate for jQuery loading after style guide page is built.
// use standard ` $(document).ready(function(){ ... }) ` in production code.
// ` DOMContentLoaded ` is not supported in IE8 or earlier.
document.addEventListener("DOMContentLoaded", function(event) {

  $('div').find('.modal').hide();

  // This is only a good solution if there is one modal on the page
  // For multiple modals be specific with button and modal IDs
  $('[data-toggle="modal"]').click(function(){
    $('.modal').show();
  });

});

</script>