---
notes: The `slush-bucket` is a UI component intended for building lists by moving selections from one list to the other. Items are always presented in the same order that they were initially listed regardless of what order they are moved. The `slush-bucket` can simplify managing shorter lists, but there may be diminishing returns on benefits of migrating list items as the lists get longer - possibly even to the point of detriment.<p><b>Mobile Behavior:</b> On iOS, the `slush-bucket` is represented as two adjacent single-select select boxes where each list says "0 Items". Tapping a list opens a select-box overlay where multiple items can be selected. Pressing the `Add Document` or `Remove Document` buttons migrate the items as expected, but each box reverts to displaying "0 Items" after items are migrated out.</p>
base: .slushbucket
variations:
  - .stacked
---
<section class="slushbucket">
<div>
	<label>All Documents</label>
	<select size="10" role="allList" multiple>
		<option><sample>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-First-Item-In-This-List-Version-One.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Second-Item-In-This-List-Version-Two.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Third-Item-In-This-List-Version-Three.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Fourth-Item-In-This-List-Version-Four.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Fifth-Item-In-This-List-Version-Five.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Sixth-Item-In-This-List-Version-Six.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Seventh-Item-In-This-List-Version-Seven.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Eighth-Item-In-This-List-Version-Eight.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Ninth-Item-In-This-List-Version-Nine.DOC</option>
		<option>ABC/ DEF/ GHI/ Super-Incredibly-Long-File-Name-for-the-Tenth-Item-In-This-List-Version-Ten.DOC</sample></option>
	</select>
</div>

<nav class="input-group">
	<button class="btn btn-primary btn-sm" role="add"><span class="stacked nav">Add Document <i class="fa fa-chevron-down"></i></span><i class="fa fa-chevron-right"></i></button>
	<button class="btn btn-sm" role="remove"><span class="stacked nav">Remove Document <i class="fa fa-chevron-up"></i></span></span><i class="fa fa-chevron-left"></i></button>
</nav>

<div>
	<label>Selected Documents</label>
	<select size="4" role="userList" multiple></select>
</div>
</section>
<sample>
<script type="text/javascript">
// using "alternative" document.ready listener to compensate for jQuery loading after style guide page is built.
// use standard ` $(document).ready(function(){ ... }) ` in production code.
// ` DOMContentLoaded ` is not supported in IE8 or earlier.
document.addEventListener("DOMContentLoaded", function(event) {
	$('.f-item-preview').on('click', '.slushbucket button', function(e){
		var allList = $(this).parent().prev('div').find('[role="allList"]'),
			userList = $(this).parent().next('div').find('[role="userList"]');
		var selectedRows, srcRow;

		if($(e.target).attr('role') === "add" || $(e.target).parents('button').attr('role') === "add" ){
			if (allList[0].selectedIndex === -1) {return;}
			selectedRows = getSelectValues(allList[0]);
			// copy selected options to userList
			// mark options that have been moved
			for (var row in selectedRows) {
				userList.append( $(selectedRows[row]).clone().attr('srcIndex', row) );
				$(selectedRows[row]).after($('<span class="selected"/>').append($(selectedRows[row]).clone()));
				$(selectedRows[row]).remove();
			}
		} else {
			if (userList[0].selectedIndex === -1) {return;}
			selectedRows = getSelectValues(userList[0]);
			var allOptions = allList.find('> *');
			// un-mark options that have been removed
			// remove selected options from userList
			for (var row in selectedRows) {
				srcRow = $(selectedRows[row]).attr('srcIndex');

				$(allOptions[srcRow]).after($(allOptions[srcRow]).children());
				$(selectedRows[row]).remove();
				$(allOptions[srcRow]).remove();
			}
		}
	});

});
function getSelectValues(bucket) {
	var result = {};
	var options = bucket && $(bucket).children();

	for (var i=0; i < options.length; i++) {
		if (options[i].selected) { result[i] = options[i]; }
	}
	return result;
}
</script></sample>