<table aria-describedby="DataTables_Table_3_info" class="table table-striped table-hover ng-isolate-scope dataTable no-footer" datatable="" dt-columns="ctrl.dtColumns_technicaleditor" dt-instance="ctrl.OnInstanceReady" dt-options="ctrl.dtOptions_technicaleditor" id="DataTables_Table_3" role="grid" style="display: table;" width="100%">
	<thead>
		<tr role="row">
			<th class="sorting_disabled"></th>
			<th>Review Title</th>
			<th>Type</th>
			<th>Phase</th>
			<th>Documents To Review</th>
			<th>Assoc. Group</th>
			<th>Status</th>
			<th>Requested Date</th>
			<th>Due Date</th>
			<th>Comments</th>
			<th class="sorting_disabled"></th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd" id="trReview_145d5ad0-00a1-4cea-aeb6-c3da57cd7445" role="row">
			<td><span class="glyphicon glyphicon-minus-sign"></span></td>
			<td>
				<a>GATT Caching Improvements [08]</a>
			</td>
			<td>Core</td>
			<td>FIPD</td>
			<td>
				<a>Core_GATT_Caching_FIPDr01.docx</a>
			</td>
			<td>
				<a>Core Specification Working Group (core)</a>
			</td>
			<td><span class="text-primary">Reviewers Assigned</span></td>
			<td><time datetime="2017-08-31T03:21:21">2017-08-31 <b>03:21:21</b></td>
			<td><time datetime="2017-09-14T00:00:00">2017-09-14 <b>00:00:00</b></td>
			<td></td>
			<td>
				<a>Projected Dates</a>
			</td>
		</tr>
		<tr class="taskTable">
			<td class="taskTable" colspan="11">
				<table class="nestedTaskTable dataTable no-footer" role="grid">
					<thead>
						<tr role="row">
							<th>Task</th>
							<th>Assigned To</th>
							<th>Status</th>
							<th>Due Date</th>
							<th>Completed Date</th>
							<th>Reviewed Document(s)</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd" role="row">
							<td>
								<a>GATT Caching Improvements [08]</a>
							</td>
							<td>Peter Hecke (Bluetooth SIG, Inc.)</td>
							<td>Not Started</td>
							<td><time datetime="2017-09-14T07:00:00">2017-09-14 <b>07:00:00</b></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="even" role="row">
			<td><span class="glyphicon glyphicon-plus-sign"></span></td>
			<td>
				<a>Beacons for Mesh Channel Indication [01]</a>
			</td>
			<td>Core</td>
			<td>FRD</td>
			<td>
				<a>Core_BLE_Mesh_Enhancements_FRD_r07.docx</a>
			</td>
			<td>
				<a>Core Specification WG NWP Subgroup (core-nwp)</a>
			</td>
			<td><span class="text-primary">Reviewers Assigned</span></td>
			<td><time datetime="2017-08-29T11:10:32">2017-08-29 <b>11:10:32</b></td>
			<td><time datetime="2017-09-12T00:00:00">2017-09-12 <b>00:00:00</b></td>
			<td></td>
			<td>
				<a>Projected Dates</a>
			</td>
		</tr>
		<tr class="odd" id="trReview_4d428ea2-ca1d-470c-b948-8bd49dcd46fa" role="row">
			<td><span class="glyphicon glyphicon-plus-sign"></span></td>
			<td>
				<a>Enhancement of Message Forward Feature [01]</a>
			</td>
			<td>NWP</td>
			<td>NWP</td>
			<td>
				<a>Message_Forward.doc</a><br>
				<a>Message_Forwarding_Feature_NWP_r01_CJR.docx</a>
			</td>
			<td></td>
			<td><span class="text-danger">Completed, Changes Required</span></td>
			<td><time datetime="2017-08-10T02:47:39">2017-08-10 <b>02:47:39</b></td>
			<td><time datetime="2017-08-16T00:00:00">2017-08-16 <b>00:00:00</b></td>
			<td>Technical Publications review complete. Please review my changes and comments.</td>
			<td></td>
		</tr>
	</tbody>
</table>

<style type="text/css">
.nestedTaskTable.dataTable {
	width: 100%;
	font-size: 12px;
}
time b {
	display: none;
}
</style>