---
base: .table
variations:
  - .table-hover
  - .table-striped
  - .table-sm
---
<table class="table">
	<thead>
		<tr>
			<th><sample>Table Heading 1</th>
			<th>Table Heading 2</th>
			<th>Table Heading 3</sample></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th><sample>Table Footer 1</th>
			<th>Table Footer 2</th>
			<th>Table Footer 3</sample></th>
		</tr>
	</tfoot>
	<tbody>
	<tr>
		<td><sample>Table Cell 1</td>
		<td>Table Cell 2</td>
		<td>Table Cell 3</sample></td>
	</tr>
	<tr>
		<td><sample>Table Cell 1</td>
		<td>Table Cell 2</td>
		<td>Table Cell 3</sample></td>
	</tr>
	</tbody>
</table>