<table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <sample><th>&lt;tr&gt; Class</th>
        <th>Column heading</th></sample>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">Active</th>
        <td><sample>.table-active</td>
        <td>Column content</sample></td>
      </tr>
      <tr>
        <th scope="row">Default</th>
        <td><sample>(none)</td>
        <td>Column content</sample></td>
      </tr>

      <tr class="table-primary">
        <th scope="row">Primary</th>
        <td><sample>.table-primary</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">Secondary</th>
        <td><sample>.table-secondary</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-success">
        <th scope="row">Success</th>
        <td><sample>.table-success</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Danger</th>
        <td><sample>.table-danger</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-warning">
        <th scope="row">Warning</th>
        <td><sample>.table-warning</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-info">
        <th scope="row">Info</th>
        <td><sample>.table-info</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-light">
        <th scope="row">Light</th>
        <td><sample>.table-light</td>
        <td>Column content</sample></td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Dark</th>
        <td><sample>.table-dark</td>
        <td>Column content</sample></td>
      </tr>
    </tbody>
  </table>