<div class="componentClasses" data-f-toggle="labels">
{{#if data.variations}}<pre class="language-markup" data-f-toggle="variations">
<code class="language-markup">CLASS: {{#if data.base}}{{data.base}}{{else}} (none) {{/if}} +<span class="f-item-variations" data-f-toggle="variations">{{#each data.variations}} {{this}}{{/each}}</span></code>
</pre>{{/if}}
</div>
{{#if notes}}
<div class="f-item-notes" data-f-toggle="notes">
	{{{notes}}}
</div>
{{/if}}
<div class="f-item-preview">
	{{{material @key @root}}}
</div>
<div class="f-item-code f-item-hidden" data-f-toggle="code">
	<pre><code class="language-markup">{{material @key @root}}</code></pre>
</div>
{{#if data.css}}
<div class="f-item-css" data-f-toggle="css">
	<pre><code class="language-css">{{{data.css}}}</code></pre>
</div>
{{/if}}