---
{{! use a pipe character `|` to separate the icon class from the name }}
{{! use underscores instead of spaces to separate words in icon names }}
base: .fa
variations:
  - .fa-file-excel-o|Excel
  - .fa-files-o|Copy_File
  - .fa-upload|Upload
  - .fa-download|Download
  - .fa-search|Search
  - .fa-external-link|New_Window_/_Tab
  - .fa-check-circle|Success
  - .fa-info-circle|Information
  - .fa-exclamation-triangle|Warning
  - .fa-exclamation-circle|Danger
  - .fa-pencil-square-o|Edit
  - .fa-bars|Layer
  - .fa-envelope-o|Notes
  - .fa-refresh|Refresh
  - .fa-plus|Add
  - .fa-minus|Remove
  - .fa-angle-left|Previous
  - .fa-angle-right|Next
  - .fa-angle-double-left|First
  - .fa-angle-double-right|Last
  - .fa-question-circle|Tooltip_/_Help
---
<i class="fa" aria-hidden="true"></i>