// FABRICATOR CUSTOMIZATIONS
// getVariations styles
[data-variation="true"] {
	position: relative !important;
	margin-top: 10px;
	display: block;
	margin-right: 30%;
	float: none;
}
[data-variation]::after {
	content: 'class: ' attr(class);
	position: absolute;
	bottom: -2px;
	left: calc(100% + 10px);
	font: 1rem normal monospace;
	color: black;
	background-color: #fff6e3;
	border: 1px solid #ffd9b8;
	padding: 3px 5px;
	border-radius: 3px;
	white-space: nowrap;
}
.table[data-variation="true"] {
	display: table;
	magin-right: 0;
	margin-top: 30px;
}
.table[data-variation]::after {
	top: -1.6rem;
	bottom: auto;
	left: 0;
}
span.textInputClasses {
	float: right;
    font: 1rem normal monospace;
    color: black;
    background-color: #fff6e3;
    border: 1px solid #ffd9b8;
	margin: 20px 0 0;
    padding: 3px 5px;
    border-radius: 3px;
    white-space: nowrap;
    &::after{
    	content: none;
    	display: none;
    }
}
span.textInputClasses + input[type="text"] {
	width: 70%;
}

.variations code.language-css {
	display: block;
	padding-left: 15px;

	&.selected {
		background-color: white;
	    padding: 10px;
    	border-left: 10px solid #ff9090;
    	margin: 5px -5px;
	}
}

.f-item-hidden[variation="true"] {
	display: none !important;
}
// Modal Overrides
body.modal-open {
	overflow: hidden !important;
	& .f-container {
		transform:none;
	}
	.modal {
		display: unset;
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}
	.modal-backdrop {
		z-index:-1;
	}
}

// Form Builder
#form-builder {
	.f-item-controls {display: none;}

	form {
		&:empty::before {
			content: 'Add form elements from the select-box below.';
			display: block;
			text-align: center;
			width: 100%;
			line-height: 300px;
			font-size: 30px;
			font-weight: bold;
			color: #e2e2e2;
		}
		position:relative;
		border: 4px dashed #e2e2e2;
		padding: 10px;
		margin: 20px 0;
	}

	aside { //container for form builder element reference
		border-top: 2px solid grey;
		margin-top: 30px;
		padding-top: 10px;
	}
}
#form-builder-controls button {
	cursor: pointer;
}
#inputSelect {
	min-width: 30%;
}
.form-builder-element {
	position: relative;
	margin-top: 50px;
	border: 1px solid grey;
	padding: 10px;
	&::before {
		position: absolute;
		top: -41px;
		left: -1px;
		line-height: 30px;
		content: attr(data-name);
		display: block;
		font-size: 20px;
		border: 1px solid grey;
		border-bottom: 0;
		background-color: white;
		padding:5px 10px;
	}
}