---
css: <!-- display CSS -->
---
<a class="chip" tabindex="<sample></sample>">
	<sample>New Chip</sample>
	<i class="fa fa-times" aria-hidden="true"></i>
</a>
<span class="add-chip"></span>
<sample>
<script type="text/javascript">
// using "alternative" document.ready listener to compensate for jQuery loading after style guide page is built.
// use standard ` $(document).ready(function(){ ... }) ` in production code.
// ` DOMContentLoaded ` is not supported in IE8 or earlier.
document.addEventListener("DOMContentLoaded", function(event) {

	$('.f-item-preview').on('click','.chip',function(){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
	});
	$('.f-item-preview').on('click','.chip i', function(){
		$(this).parent().remove();
	});
	$('.f-item-preview').on('click','.add-chip', function(){
		$(this).siblings('.chip:last-of-type').after($(this).siblings('.chip:last-of-type').clone());
		$(this).siblings('.chip:last-of-type').click();
	});
});
</script>
</sample>