---
css: <!-- display CSS -->
---
<a class="chip" tabindex="<sample></sample>">
	<sample>Chip</sample>
	<i class="fa fa-times" aria-hidden="true"></i>
</a>

<style type="text/css">
	.chip {
		display: inline-block;
		color: #4f6e86;
		background-color: #a1c4e4;
		line-height: 2.2rem;
		padding:0 5px 0 8px;
		border-radius: 100px;
		cursor: pointer;
	}
	.chip.active, .chip:hover {
		color: #fff;
		background-color: #65a3dc;
	}
	.chip i {
		display: inline-block;
		color: #888;
		background-color: #eee;
		line-height: 1.6rem;
		width: 1.6rem;
		margin-bottom: .2rem;
		border-radius: 100px;
		vertical-align: middle;
		text-align: center;
	}
	.chip i:hover {
		background-color: #000;
		color: #fff;
	}
</style>
<script type="text/javascript">
// using "alternative" document.ready listener to compensate for jQuery loading after style guide page is built.
// use standard ` $(document).ready(function(){ ... }) ` in production code.
// ` DOMContentLoaded ` is not supported in IE8 or earlier.
document.addEventListener("DOMContentLoaded", function(event) {

	$('.f-item-preview').on('click','.chip',function(){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
	});
	$('.f-item-preview').on('click','.chip i', function(){
		$(this).parent().remove();
	});
});
</script>