---
css: <!-- display CSS -->
---
<sample>
	<style>
		.relative-container {
			position: relative;
			width:100%;
		}
		.relative-container .loading {
			position:absolute;
		}
	</style>
</sample>
<div class="relative-container">
	<div class="loading align-items-center justify-content-center">
	  <img src="https://www.bluetooth.com/resources/images/loader.svg">
	  <h3>Loading</h3>
	</div>
	<h2><sample>Example content beneath loading</sample></h2>
	<p><sample>Lorem ipsum dolor amet lyft shabby chic you probably haven't heard of them, ramps distillery messenger bag normcore letterpress neutra everyday carry. Wolf pug salvia, taxidermy four dollar toast adaptogen green juice knausgaard succulents slow-carb bespoke cardigan banh mi pitchfork. Skateboard pinterest salvia YOLO. Jianbing messenger bag crucifix food truck meditation letterpress 8-bit raw denim bushwick snackwave twee four dollar toast waistcoat pug. Authentic copper mug vexillologist, quinoa DIY raw denim cred single-origin coffee yuccie. Shabby chic tilde put a bird on it flexitarian poutine chambray cornhole taxidermy fam bushwick distillery four loko.</sample></p>
	<p><sample>Enamel pin cloud bread craft beer, irony sartorial microdosing yuccie mustache unicorn. Small batch brunch distillery, vinyl man bun marfa try-hard kitsch tumblr poutine air plant pop-up. Ethical street art food truck chillwave copper mug coloring book edison bulb lomo tbh glossier banjo everyday carry four dollar toast hella. Hoodie chicharrones before they sold out, quinoa schlitz plaid jean shorts portland raw denim typewriter trust fund try-hard stumptown. Chicharrones gluten-free copper mug celiac, bushwick trust fund four dollar toast. Fam drinking vinegar four dollar toast, street art franzen coloring book man braid single-origin coffee pour-over mumblecore narwhal small batch austin venmo 3 wolf moon. Biodiesel seitan mustache unicorn paleo chartreuse.</sample></p>
</div>
