<nav class="container progress-numbers">
  <ol class="nav nav-pills">
    <li class="nav-item completed">
      <a class="nav-link" href="#">Completed</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled Next Step</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled Next Step</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled Next Step</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled Next Step</a>
    </li>
  </ol>
</nav>
