<ul class="tree">
  <li><a href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a>
            <ul>
              <li><a href="#" class="active">Level Four (active)</a>
                <ul>
                  <li><a href="#">Level Five - 1</a></li>
                  <li><a href="#">Level Five - 2</a></li>
                  <li><a href="#">Level Five - 3</a></li>
                  <li><a href="#">Level Five - 4</a></li>
                  <li><a href="#">Level Five - 5</a></li>
                  <li><a href="#">Level Five - 6</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
