---
notes: To allow multiple accordion tabs to be open simultaneously, omit the `data-parent` attribute on each `[role="tabpanel"]` `<div>`.
---
<div class="accordion" role="tablist">
  {{#iterate 3}}
    {{> modules.accordion-panel}}
  {{/iterate}}
</div>

<script type="text/javascript">
// using "alternative" document.ready listener to compensate for jQuery loading after style guide page is built.
// use standard ` $(document).ready(function(){ ... }) ` in production code.
// ` DOMContentLoaded ` is not supported in IE8 or earlier.
document.addEventListener("DOMContentLoaded", function(event) {

	$('.f-item-preview').find('.accordion [role="tabpanel"]').collapse();

	/* ENABLES CLICKING ANYWHERE ON TAB HEADER TO TRIGGER COLLAPSE-TOGGLE */
	$('.f-item-preview').on('click', '.accordion [role="tab"]',function(){
		// toggles + / - on tab header
		$(this).parent().siblings().find('[role="tab"]').removeClass('open');
		if($(this).next().hasClass('collapsing')){ return; }
		else if ($(this).next().hasClass('show')) { $(this).removeClass('open'); }
		else { $(this).addClass('open'); }

		$(this).next('[role="tabpanel"]').collapse('toggle');
	});
});
</script>