<div class="col-sm-6">
	<div class="card">
	  <header class="card-header with-arrow">
	    <i class="fa fa-check-circle fa-2x text-primary pull-left" aria-hidden="true"></i>&nbsp;&nbsp;<h5 class="card-title pull-left">Longish Title For Training Module</h5>
	    <button type="button" class="close" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </header>
	  <div class="card-body">
	    <h4 class="card-title">Special title treatment</h4>
	    {{> typography.paragraph}}
	    {{> typography.paragraph}}
	  </div>
	  <footer class="card-footer">
	  	<div class="row">
		  	<div class="col-sm-8">
		  		<div class="card-breadcrumb">
		  			<ul class="nav">
					  <li class="nav-item">
					    <h5 class="card-breadcrumb-title">Breadcrumb Title</h5>
					  </li>
					  <li class="nav-item small">
					    <a class="nav-link active" href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
					  </li>
					  <li class="nav-item small">
					    <a class="nav-link" href="#"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
					  </li>
					  <li class="nav-item small">
					    <a class="nav-link" href="#"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
					  </li>
					</ul>
		  		</div>
		  	</div>
		  	<div class="col-sm-4 text-right">
		  		<button type="button" class="btn btn-secondary btn-sm">Back</button>
		  		<button type="button" class="btn btn-primary btn-sm">Next</button>
		  	</div>
	  	</div>
	  </footer>
	</div>
</div>
