<footer class="container-fluid col-sm-10">
  <div class="row">
    <div class="col-sm-12 small">
          <p>© 2017 Bluetooth SIG, Inc. All rights reserved.</p>
          <nav>
              <ul class="nav">
                <li><a class="nav-link" href="https://www.bluetooth.com/privacy">Privacy</a></li>
                <li><a class="nav-link" href="https://www.bluetooth.com/terms-of-use">Terms Of Use</a></li>
                <li><a class="nav-link" href="https://www.bluetooth.com/user-code-of-conduct">Code Of Conduct</a></li>
                <li><a class="nav-link" href="https://www.bluetooth.com/copyright-policy">Copyright Policy</a></li>
                <li><a class="nav-link" href="https://www.bluetooth.com/sig-policies">SIG Policies and Rules</a></li>
              </ul>
          </nav>
      </div>
    </div>
</footer>
