<header class="container-fluid col-sm-10">
  <div class="row">
    <div class="col-sm-6 header-logo">
      <!-- if the website is down will we be able to to reference the logo stored on .com? -->
      <a href="https://www.bluetooth.com"><img src="https://www.bluetooth.com/~/media/images/logos/logo.ashx"></a>
    </div>
    <div class="col-sm-6 text-right">
      <div class="dropdown localization">
        <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <!-- not sure what the links would be for the login page localized versions -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">English</a>
          <a class="dropdown-item" href="/ja-jp">Japanese</a>
          <a class="dropdown-item" href="/ko-kr">Korean</a>
          <a class="dropdown-item" href="/zh-cn">Chinese</a>
        </div>
      </div>
    </div>
  </div>
</header>
<sample><div style="height:150px"></div></sample>
