<sample>
  <style>
    .row {
      margin:0;
    }
  </style>
</sample>
<div class="row justify-content-center">
  <div class="col-sm-6 col-md-4 login-container">
    <h1><sample>Log In</sample></h1>
    <form id="loginForm">
      <div class="form-group">
        <label for="inputuser"><sample>Username:</sample></label>
        <input class="form-control" id="inputuser" type="username">
      </div>
      <div class="form-group">
        <label for="inputPassword"><sample>Password:</sample></label>
        <input class="form-control" id="inputPassword" type="password">
      </div>
      <div class="form-check">
        <label class="form-check-label" for="rememberMe">
          <input type="checkbox" class="form-check-input" id="rememberMe">
          <sample>Remember Me</sample>
        </label>
      </div>
      <p>
        <button type="button" class="btn btn-primary btn-block"><sample>Log In</sample></button>
      </p>
      <p class="small"><sample><a href="#">Forgot username or password</a></sample></p>
      <p>
          <button type="button" class="btn btn-secondary btn-block"><sample>Not a Member? Join the SIG for Free</sample></button>
      </p>
      <p class="small"><sample><a href="#">Is your company already a member? Create a User Account.</a></sample></p>
    </form>
  </div>
</div>
