<ul class="nav sub-nav justify-content-center">
	<li class="nav-item">
	  <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
	  <ul class="nav">
	    <li class="nav-item"><a class="nav-link" href="/">English</a></li>
	    <li class="nav-item"><a class="nav-link" href="/ja-jp">Japanese</a></li>
	    <li class="nav-item"><a class="nav-link" href="/ko-kr">Korean</a></li>
	    <li class="nav-item"><a class="nav-link" href="/zh-cn">Chinese</a></li>
	  </ul>
	</li>
</ul>

<sample>
<div style="height:180px"></div>
</sample>
