<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sample>Dropdown button</sample></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <sample><a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a></sample>
  </div>
</div>
<sample>
<div style="height:150px"></div>
<script type="text/javascript"></script>
</sample>
